<h1>Login!</h1>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag :login %>
<% end %>

<form action="/sessions" method="post">
<label name="email">Login:
  <input type="text" name="email" placeholder="You email address">
</label>
|
<label name="password">
  <input type="password" name="password" placeholder="Your password">
</label>
