<p><h2><%= @results["matches"][0]["recipeName"] %></h2>
    <%= @results["matches"][0]%></p>
<p><h2><%= @results["matches"][1]["recipeName"] %></h2>
    <%= @results["matches"][1]%></p>
<p><h2><%= @results["matches"][2]["recipeName"] %></h2>
    <%= @results["matches"][2]%></p>
