<p><a href="http://www.yummly.com/recipes/<%= @results["matches"][0]["id"] %>"><h2><%= @results["matches"][0]["recipeName"]  %></a></h2>
  <%@results["matches"][0]["ingredients"].each do |ingredient|%>
  <ul>
    <li><%=ingredient %></li>
  </ul>
  <% end %>
  <img src="<%= @results["matches"][0]["imageUrlsBySize"]["90"]%>" class="results"></p>

  <% if current_user %>
  <form action="/recipes/favorite" method="post">
    <input type="hidden" name="name" value="<%=@results["matches"][0]["recipeName"]%>">
    <input type="hidden" name="url" value="http://www.yummly.com/recipe/<%=@results["matches"][0]["id"]%>">
    <input type="hidden" name="img_url" value="<%=@results["matches"][0]["imageUrlsBySize"]["90"]%>">
    <button>Fave it!</button>
  </form>
  <% end %>

<br>

<p><a href="http://www.yummly.com/recipe/<%=@results["matches"][1]["id"]%>"><h2><%= @results["matches"][1]["recipeName"] %></a></h2>
  <%@results["matches"][1]["ingredients"].each do |ingredient|%>
  <ul>
    <li><%=ingredient %></li>
  </ul>
  <% end %>
  <img src="<%= @results["matches"][1]["imageUrlsBySize"]["90"]%>" class="results"></p>

<br>

<p><a href="http://www.yummly.com/recipe/<%=@results["matches"][2]["id"]%>"><h2><%= @results["matches"][2]["recipeName"] %></a></h2>
  <%@results["matches"][2]["ingredients"].each do |ingredient|%>
  <ul>
    <li><%=ingredient %></li>
  </ul>
  <% end %>
  <img src="<%= @results["matches"][2]["imageUrlsBySize"]["90"]%>" class="results"></p>

